@font-face {
  font-family: "CeraPro";
  src: local("CeraPro"), url("../../assets/fonts/CeraProRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "CeraPro";
  src: local("CeraPro"), url("../../assets/fonts/CeraProMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}