@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
   font-style: normal;
   font-weight: 400;
   src:
      local("CeraPro"),
      url("../../assets/fonts/CeraProRegular.woff2") format("woff2");
   font-family: "CeraPro";
}
@font-face {
   font-style: normal;
   font-weight: 500;
   src:
      local("CeraPro"),
      url("../../assets/fonts/CeraProMedium.woff2") format("woff2");
   font-family: "CeraPro";
}
@font-face {
   font-style: normal;
   font-weight: 700;
   src:
      local("CeraPro"),
      url("../../assets/fonts/CeraProBold.woff2") format("woff2");
   font-family: "CeraPro";
}
