body,
html,
#root,
.app {
   //height: 100%; weird field //!!! If some div with position fixed overlapping scroll, remove height:100% from html
   margin: 0;
   padding: 0;
   width: 100%;
}

#root {
   position: relative;
}

body {
   //min-width: min-content; //experimental
   max-width: 100%;
}

html {
   min-width: min-content;
   max-width: 100%;
   -webkit-font-smoothing: antialiased;
}

* {
   margin: 0;
   border: 0;
   padding: 0;
}

*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

html,
body {
   font-size: 100%;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   overflow: hidden;
   font-size: inherit;
   font-family: inherit;
   letter-spacing: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
   background: transparent;
   color: inherit;

   &::-moz-focus-inner {
      border: 0;
      padding: 0;
   }
}

a,
a:visited {
   color: var(--default-text-color);
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
   max-width: 100%;
   height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 400;
   font-size: inherit;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   //text-indent: 1px;
   //text-overflow: '';

   &::-ms-expand {
      display: none;
   }
}
//hide spin-button in input[type=number]
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type="number"] {
   -moz-appearance: textfield;
}
