@mixin set-line-clamp($line-clamp-value) {
   display: -webkit-box;
   display: -moz-box;
   overflow: hidden;
   -webkit-line-clamp: $line-clamp-value;
   line-clamp: $line-clamp-value;
   -moz-box-orient: vertical;
   -webkit-box-orient: vertical;
}
