$content-width: 1260px;

html {
  --coral-red: #f74343;
  --azure: #0752e4;
  --light-azure: #0B71EB;
  --light-azure-active: #0c6bd9;
  --weak-gray: #f4f6f9;
  --gains-boro: #d8dee0;
  --sheet-metal: #5e6165;
  --ghost-white: #f8fafd;
  --slate-gray: #777D82;
  --dark-blue: #020e20;
  --taupe-gray: #888888;
}