$content-width: 1200px;

html {
   --coral-red: #f74343;
   --azure: #0752e4;
   --light-azure: #0b71eb;
   --light-azure-active: #0c6bd9;
   --deep-azure: #0852e4;
   --deep-azure-active: #0e50d2;
   --very-light-azure: #007aff;
   --electric-blue: #4975f3;
   --pure-blue: #006de5;

   --weak-gray: #f4f6f9;
   --strong-weak-gray: #dedede;

   --gains-boro: #d8dee0;
   --gains-boro-light: #e0e5e5;
   --dirty-white: #f3f3f4;
   --dark-sheet-metal: #3a3f44;
   --sheet-metal: #5e6165;
   --ghost-white: #f8fafd;
   --light-ghost-white: #f1f3f4;
   --slate-gray: #777d82;
   --dark-blue: #020e20;
   --taupe-gray: #888888;
   --light-silver: #d9d9d9;
   --bright-gray: #ededed;
   //--a:#808080;
   --light-taupe-gray: #b2b0b0;
   --light-taupe-gray-active: #9b9b9b;
   --azure-dragon: #021a3e;
   --white-gray: #c3c7cb;
   --white-gray-active: #efefef;
   --white-blue: #bedbfc;
   --white-blue-active: #aacaf8;
   --bubbles-green-weak: rgba(35, 181, 84, 0.1);
   --bubbles-green: rgba(35, 181, 84, 0.5);
   --green: #18a447;
   --yellow: #f7b500;
   --light-yellow: #fef7e5;
   --weak-white: #e7e7e6;
   --raisin-black: #262626;
   --default-font: CeraPro, system-ui, sans-serif;
   --secondary-font-family: Inter, Roboto, sans-serif;
}
