$content-width: 1260px;

html {
  --coral-red: #f74343;
  --azure: #0752e4;
  --light-azure: #0B71EB;
  --light-azure-active: #0c6bd9;
  --deep-azure:#0852E4;
  --deep-azure-active: #0e50d2;

  --weak-gray: #f4f6f9;
  --strong-weak-gray: #dedede;

  --gains-boro: #d8dee0;
  --dark-sheet-metal:#3A3F44;
  --sheet-metal: #5e6165;
  --ghost-white: #f8fafd;
  --light-ghost-white: #F1F3F4;
  --slate-gray: #777D82;
  --dark-blue: #020e20;
  --taupe-gray: #888888;
  --light-taupe-gray: #b2b0b0;
  --light-taupe-gray-active: #9b9b9b;
  --azure-dragon:#021A3E;
  --white-gray: #C3C7CB;
  --white-gray-active:#efefef;
  --white-blue:#BEDBFC;
  --bubbles-green-weak: rgba(35, 181, 84, 0.1);
  --bubbles-green: rgba(35, 181, 84, 0.5);
  --green:#18A447;

  --weak-white:#E7E7E6;


  --default-font: CeraPro, system-ui, sans-serif;
}
