.user-menu {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #d8dee0;
  border-radius: 22px;
padding: 6px;
  width: min-content;

  & .burger-icon,
  & .user-profile-icon {
    color: gray;
    padding: 5px;
  }
  & .burger-icon {
    width: 24px;
    height: 24px;
    margin:0  8px 0 6px;
  }
  & .user-profile-icon {
    width: 32px;
    height: 32px;
  }

  & .user-menu-options {
    opacity: 0;
    pointer-events: none;
    transition: opacity 80ms;
    position: absolute;
    right: 0;
    top:calc(100% + 1px);
    font-family: "CeraPro", serif;
    padding-top: 5px;


    & .options-item {
      padding: 5px 15px;
      border-radius: 6px;
      min-width: 160px;
      border: 1px solid #d8dee0;
      height: 48px;
      line-height: 38px;
      white-space: nowrap;
      background-color: white;

      & .options-item__title{
        transition: color 120ms;
      }

      &:not(:first-child) {
        margin-top: 5px;
      }

      &:hover .options-item__title {
          color: var(--azure);
      }
    }
  }
  &:hover .user-menu-options {
    opacity: 1;
    pointer-events: all;
  }
}