.select-wrapper {
   display: flex;
   position: relative;
   align-items: center;
   border-radius: 15px;
   background-color: var(--weak-gray);
   max-width: fit-content;

   &.arrow::after {
      display: block;
      position: absolute;
      top: 50%;
      right: 18px;
      transform: translateY(-50%);
      z-index: 5;
      border-width: 5px 4px 0 4px;
      border-style: solid;
      border-color: #888 transparent transparent transparent;
      pointer-events: none;
      content: "";
   }

   & .select {
      background-color: inherit;
      padding-right: 40px;
      color: #444444;
      font-weight: 500;
      font-size: 16px;
      font-family: "CeraPro", sans-serif;
      //TODO Here was padding-left:10px, if its deletion affected something return it

      & .select-option {
         user-select: none;
      }
   }
}
