.breadcrumbs {
   display: flex;

   & a.ant-breadcrumb-link {
      &:hover {
         background-color: unset;
         color: var(--azure) !important;
      }
   }

   & .ant-breadcrumb-separator {
      display: flex;
      align-items: center;
   }
}
