.title-with-icon {
   display: flex;
   align-items: center;
   color: var(--dark-sheet-metal);
   font-size: 14px;
   font-family: "CeraPro", Arial, sans-serif;

   & .svg-icon {
      margin-right: 4px;
      width: 20px;
      height: 20px;
   }
}
