.modal {
   position: fixed;
   top: 50%;
   left: 50vw;
   transform: translate(-50%, -50%);
   visibility: hidden;
   opacity: 0;
   z-index: 20222;
   transition:
      opacity 300ms,
      visibility 300ms;
   border-radius: 10px;
   background-color: white;
   width: 430px;

   &.opened {
      visibility: visible;
      opacity: 1;
   }

   & .modal-close {
      position: absolute;
      top: 5px;
      right: 5px;
      transition: background-color 70ms;

      &:hover {
         background-color: var(--gains-boro);
      }
   }

   & .modal__title {
      margin-top: 7px;
      font-size: 18px;
      font-family: var(--default-font), sans-serif;
      text-align: center;
   }
}

@media (width <= 500px) {
   .modal {
      width: 100%;
   }
}
