.order-form {
  display: grid;
  gap: 5px;
  padding-right: 20px;
  grid-template-areas:
    "name name name name name name"
    "phone phone phone people people people"
    "date date date date date date"
    "information information information information information information"
    "button button button . . .";

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr auto auto;

  .order-form-name {
    grid-area: name;
  }

  .order-form-phone {
    grid-area: phone;
  }

  .book-date {
    grid-area: date;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    & .date-picker {
      height: 48px;
    }

  }

  .order-form-people-count {
    grid-area: people;
    height: 100%;

    & .title {
      font-family: var(--default-font), sans-serif;
      font-size: 14px;
    }

    & .button-cool {
      display: flex;
      max-width: fit-content;
      border: 1px solid var(--white-gray);
      border-radius: 8px;
      padding: 13px 15px 14px;
      font-family: var(--default-font), sans-serif;
      font-size: 15px;
      color: var(--azure);
      font-weight: 700;
    }
  }

  .order-form-check-in-date {
    grid-area: check-in;
  }

  .order-form-check-out-date {
    grid-area: check-out;
  }

  .order-form-information {
    grid-area: information;
  }

  & input {
    padding: 14px 20px;
    border-radius: 8px;
  }

  & textarea {
    border-radius: 8px;
    padding-left: 20px;
    padding-top: 15px;
    min-height: 50px;
    height: 50px;
  }

  & .order-form__submit-button {
    grid-area: button;
    margin-top: 10px;
    background-color: var(--deep-azure);
    font-family: "CeraPro", Arial, sans-serif;
    font-size: 16px;
    color: white;
    padding: 13px 31px;
    border-radius: 8px;
    transition: background-color 210ms;

    &:hover {
      background-color: var(--light-azure-active);
    }
  }
}
