@import "../../../../app/styles/variables";

.header-breadcrumbs {
  max-width: $content-width;
  margin: 17px auto 10px auto;
  font-weight: 500;
  font-family: var(--default-font), sans-serif;
}