.button {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 12px;
  transition: color, background-color;
  transition-duration: 190ms;

  &:hover {
    background: #F1F3F4;

    & .button__title {
      color: var(--azure);
    }

    & .button__icon {
      color: var(--azure);
    }
  }

  & .button__icon {
    width: 20px;
    height: 20px;
    transition: inherit;
  }

  & .button__title {
    margin-left: 7px;
    font-size: 14px;
    font-family: "CeraPro", Arial, sans-serif;
    color: var(--dark-blue);
    transition: inherit;
  }
}