.show-contacts-button {
   justify-content: space-around;
   align-items: center;
   gap: 7px;
   cursor: pointer;
   background-color: var(--white-blue);
   padding: 0 10px;
   color: white;
   font-family: var(--default-font), sans-serif;

   &.expanded {
      background-color: var(--azure);
   }

   & .show-contacts-button__title {
      color: var(--azure);
      font-size: 16px;
   }

   & .show-contacts__phone {
      margin-left: auto;
      font-size: 15px;
   }

   & .show-contacts__name {
   }
}
