.show-contacts-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--default-font), sans-serif;
  color: white;
  background-color: var(--white-blue);
  cursor: pointer;
  padding: 0 20px;
  gap: 7px;

  &.expanded {
    background-color: var(--azure);
  }

  & .show-contacts-button__title {
    font-size: 16px;
    color: var(--azure);
  }

  & .show-contacts__phone {
    margin-left: auto;
  }

  & .show-contacts__name {
  }
}