.input-number {
  position: relative;

  & .input-number__input:focus {
    & ~ .input-number__increase-button {
      border-top-color: var(--azure);
      border-right-color: var(--azure);
    }

    & ~ .input-number__decrease-button {
      border-bottom-color: var(--azure);
      border-right-color: var(--azure);
    }

    border-color: var(--azure);
  }

  &:hover:not(.disable) {
    & .input-number__increase-button {
      border-top-color: var(--azure);
      border-right-color: var(--azure);
    }

    & .input-number__decrease-button {
      border-bottom-color: var(--azure);
      border-right-color: var(--azure);
    }

    & .input-number__input, {
      border-color: var(--azure);
    }
  }

  & .input-number__input {
    width: 100%;
    border: 1px solid var(--white-gray);
    border-radius: 8px;
    padding: 14px 20px;
    padding-right: 36px;
    font-size: 14px;
    font-family: "CeraPro", Arial, sans-serif;
    transition: border-color 110ms;

    &.disable {
      &:hover {
        border-color: var(--white-gray);
      }
    }
  }


  & .input-number__increase-button, .input-number__decrease-button {
    position: absolute;
    right: 0;
    z-index: 2;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--white-gray);
    height: 50%;
    box-sizing: border-box;
    width: 36px;
    transition: border-color 110ms;

    &.disabled {
      background-color: #e0e0e0;
      cursor: not-allowed;
    }

    &:not(.disabled):hover {
      background-color: var(--white-gray-active);
    }

    & .svg-icon {
      height: 12px;
      width: 12px;
      color: var(--slate-gray);
    }
  }

  & .input-number__decrease-button {
    bottom: 0;
    border-bottom-right-radius: 8px;
    border-top: 0;

    & .svg-icon {
      transform: rotate(180deg);
    }
  }

  & .input-number__increase-button {
    border-top-right-radius: 8px;
  }
}
