.tag-field {
   & .ant-select {
      width: fit-content;
      height: 48px;

      & .ant-select-selection-item {
         display: flex;
         align-items: center;
      }

      & .ant-select-selection-search {
         display: flex;
         align-items: center;
      }
   }
}
