.title-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-sheet-metal);
  font-size: 14px;
  font-family: "CeraPro", Arial, sans-serif;

  & .svg-icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }
}