.home-page .content {
   & .home-page-top {
      display: flex;
      justify-content: end;
      align-items: stretch;
      margin-top: 5px;
      width: 100%;
      height: 36px;

      & .open-create-apartment-page-button {
         margin-left: auto;
         border-radius: 50px;
         padding: 0 15px;

         &:hover {
            border-color: var(--weak-gray);
         }
      }

      & .sort-by {
         margin-left: 5px;
         padding: 0 !important;
         height: 100%;

         & .ant-select-selector {
            border-radius: 15px !important;
            padding: 0 17px;
         }
      }
   }

   & .pagination {
      padding-top: 30px;
      padding-bottom: 30px;
   }

   & .home-page__pagination-details {
      display: none;
      align-self: center;
      font-size: 14px;
      font-family: var(--default-font), sans-serif;
   }
}

@media (width <= 950px) {
   .home-page .content {
      & .home-page__title {
      }

      & .home-page__pagination-details {
         display: block;
      }
   }
}
