.home-page .content {



  & .home-page-top {
    display: flex;
    justify-content: end;
    align-items: stretch;
    width: 100%;

    & .open-create-apartment-page-button {
      margin-left: auto;
    }
  }
  & .pagination {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}
