.home-page .content {

  & .temp-div {
    display: flex;
    justify-content: end;
    width: 100%;

    & .open-create-apartment-page-button {
      margin-left: auto;
    }
  }
  & .pagination {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}
