.filter-by-price {
  height: 40px;
  margin-top: 20px;

  & .filter-by-price__title {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
  }

  & .filter-by-price-inputs {
    display: flex;
    height: 100%;
    border-radius: 8px;
    border: 1px solid var(--white-gray);
    margin-top: 5px;
    padding-right: 4px; //To prevent no border in angles(browser bug)

    & .price-input {
      display: flex;

      &._max {
        border-left: 1px solid var(--white-gray);
      }
    }

    & .price-input__title {
      font-size: 14px;
      line-height: 20px;
      font-family: "CeraPro", Arial, sans-serif;
      color: var(--slate-gray);
      height: 20px;
      margin: auto 0;
      padding-left: 10px;
    }

    & .price-input__input {
      width: 100%;
      padding: 10px 10px;
      font-family: "CeraPro", Arial, sans-serif;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .slider-wrapper {
    position: relative;
    width: 80%;
    margin: 45px auto 0;

    .slider-wrapper__image {
      position: absolute;
      bottom: 55%;
      right: 50%;
      transform: translateX(50%);
      width: 80%;
      user-select: none;
      -webkit-user-drag: none;
    pointer-events: none;
    }
  }

  & .price-range-slider {
    display: block;


    & .MuiSlider-thumb {
      border: 3px solid var(--azure);
      background: white;
      height: 20px;
      width: 20px;
      box-shadow: none;
    }

    & .MuiSlider-valueLabel {
      border: 1px solid #cccccc;
      border-radius: 7px;
      background-color: white;
      font-size: 14px;
      font-weight: 400;
      font-family: Arial, sans-serif;
      color: black;
      padding: 2px 5px;

      &:before {
        margin-bottom: -1px;
        border-bottom: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
      }
    }
  }

}
