.filter-by-price {
  margin-top: 20px;

  & .filter-by-price__title {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-size: 14px;
  }

  .slider-wrapper {
    position: relative;
    width: 80%;
    margin: 45px auto 0;

    .slider-wrapper__image {
      position: absolute;
      bottom: 55%;
      right: 50%;
      transform: translateX(50%);
      width: 80%;
      user-select: none;
      -webkit-user-drag: none;
      pointer-events: none;
    }
  }
}
