.apartment-calendar {
  display: flex;
  height: 100%;
  max-width: 90%;


  & .ant-picker-calendar {
    &:last-child {
    }
  }

  & tbody {
    border-left: 1px solid var(--weak-white) !important;
    border-right: 1px solid var(--weak-white) !important;


    & tr {
      border-bottom: 1px solid var(--weak-white) !important;

      &:first-child {
        border-top: 1px solid var(--weak-white) !important;
      }

      & td {
        aspect-ratio: 1;

        border-right: 1px solid var(--weak-white) !important;
      }

    }

  }
  & th {
    text-align: left;
  }

  & .apartment-details {
    display: flex;
    min-width: 250px;
    margin-right: 10px;
  }


}