.favorite-apartment-card {
   position: relative;
   border: 1px solid var(--white-gray);
   border-radius: 8px;
   padding: 10px;
   height: 100px;

   & .apartment-title {
      margin-right: 30px;
      font-size: 14px;
      font-family: var(--default-font), sans-serif;
   }

   & .add-to-wish-list-button {
      position: absolute;
      top: 5px;
      right: 5px;
   }
}
