.search-button {
   display: flex;
   align-items: center;
   transition: background-color 200ms;
   border-radius: inherit;
   background-color: var(--light-azure);
   padding: 0 45px;

   &:hover {
      background-color: var(--light-azure-active);
   }

   & .search-button__icon {
   }

   & .search-button__title {
      padding-left: 10px;
      color: white;
      font-weight: 400;
      font-size: 18px;
      font-family: "Arial", sans-serif;
      text-align: center;
   }
}
