.search-button {
  display: flex;
  background-color:var(--light-azure) ;
  border-radius: inherit;
  align-items: center;
  padding: 0 45px;
  transition: background-color 200ms;

  &:hover {
    background-color:var(--light-azure-active) ;
  }

  & .search-button__icon {

  }

  & .search-button__title {
    padding-left: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: white;
    font-family: "Arial", sans-serif;
  }
}