.price-field {
  display: flex;

  & .field {
    margin: 0;
    padding: 0;
  }

  & .select-currency-dropdown-wrapper {
    height: 48px;
    margin-top: auto;
    margin-left: 10px;
  }
}