@import "../../../app/styles/variables";

.standart-layout {
  height: 100%;

  & .sub-header {
    display: flex;
    max-width: $content-width;
    margin: 5px auto 0;
    width: 100%;

    & .home-page__title {
      font-family: var(--default-font), sans-serif;
      font-weight: 600;
      font-size: 22px;
    }

    & .home-page__pagination-details {
      margin-left: auto;
      font-family: var(--default-font), sans-serif;

    }
  }

  & .standart-layout-wrapper {
    display: flex;
    max-width: $content-width;
    margin: 0 auto;
    height: 100%;
  }

  & .header {
  }

  & .aside {
  }

  & .content {
    grid-area: content;
    flex-grow: 1;
  }
}