.tariff-in-day {
  border: 1px solid var(--white-gray);
  margin: 5px;
  height: fit-content;
  padding: 10px;
  border-radius: 8px;
  flex:1 auto;


  & .tariff-in-day__title, & .tariff-in-day__sub-title {
    font-family: var(--default-font), sans-serif;
    text-align: center;
  }
}