.tariff-in-day {
   flex: 1 auto;
   cursor: pointer;
   margin: 5px;
   border: 1px solid var(--white-gray);
   border-radius: 8px;
   padding: 10px;
   height: fit-content;

   & .tariff-in-day__title,
   & .tariff-in-day__sub-title {
      font-family: var(--default-font), sans-serif;
      text-align: center;
   }
}
