div.apartment-calendar-cell {
   margin: 0 !important;
   border: 0 !important;
   padding: 4px !important;

   & .date-value {
      margin-left: 3px;
      max-width: fit-content;
      color: var(--taupe-gray);
      text-align: left;
   }

   &.highlight {
      color: unset !important;

      & .cell__price {
         color: unset;
      }
   }

   &.inactive {
      background: repeating-linear-gradient(-45deg, var(--weak-white) 0 5%, transparent 5% 10%) !important;
   }

   & .content {
      display: flex;
      flex-direction: column;
   }

   & .cell__price {
      display: flex;
      flex: 0 0;
      margin-top: auto;
      background-color: transparent;
      max-width: 100%;
      color: var(--taupe-gray);
      font-size: 14px;
      font-family: var(--default-font), sans-serif;
      text-align: left;

      &.active {
         color: var(--azure);
      }
   }
   & input.cell__price {
      margin-bottom: 2px;
   }
}
