.order-skeleton {
   display: flex;

   & .small-skeleton {
      margin-right: 20px;
      width: 9%;
   }
   & .ant-skeleton-element {
      margin-right: 20px;
      aspect-ratio: 1;
      min-height: calc(100%);

      & .ant-skeleton-image {
         width: 100%;
      }
   }
}
