div.welcome-modal {
   display: flex;
   flex-direction: column;
   padding: 15px;
   width: fit-content;
   max-width: 95vw;

   & .date-filter {
      margin-bottom: 5px;

      & .ant-picker-header-super-next-btn,
      & .ant-picker-header-super-prev-btn {
         display: none;
      }

      & .ant-picker-panel-container {
         box-shadow: none !important;
      }
   }

   & .ant-picker-range-separator,
   & .ant-picker-suffix,
   & .ant-picker-active-bar {
      display: none;
   }

   & .ant-picker-input {
      position: absolute;
      opacity: 0;
      pointer-events: none;
   }

   & .modal__title {
      margin-bottom: 10px;
   }

   & .next-button,
   & .cancel-button {
      width: 120px;
      max-width: 120px;
   }

   & .cancel-button {
   }

   & .modal-footer {
      display: flex;
      column-gap: 12px;
      justify-content: center;
   }

   & .select-dates {
      position: static !important;
      width: fit-content;
      min-width: 0 !important;

      & .ant-picker-range-wrapper {
         width: fit-content;
      }
   }
}
