.logo {
   margin-bottom: 3px;
   margin-left: 6px;
   max-height: 100%;
   font-weight: 500;
   font-size: 20px;
   font-family: "CeraPro", Arial, sans-serif;

   &.small-logo {
      & .logo__image {
         max-width: 50px;
      }
   }

   & .logo__image {
      max-width: 150px;
      max-height: 100%;
   }
}

@media (width <= 1000px) {
   .logo {
   }
}

@media (width <= 400px) {
   .logo {
      & .logo__image {
         max-width: 130px;
      }
   }
}
