.logo {
  font-family: "CeraPro", Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 3px;
  max-height: 100% ;

  & .logo__image {
    max-height: 100%;
    max-width: 150px;
  }
}