.select-guest-prices-modal {
   z-index: 200;
   border-radius: 8px;
   padding: 20px;
   max-width: 410px;

   & .select-currency-dropdown-wrapper {
      margin-left: 10px;
   }

   & .modal-title {
      display: none;
   }
}
