.select-currency-dropdown-wrapper {
   width: 70px;
   height: 40px;
   font-size: 15px;
   font-family: var(--default-font), sans-serif;
   text-overflow: clip;

   & * {
      outline: none !important;
      border: none !important;
   }

   & .ant-select-selector {
      inset: 0px !important;
      outline: none !important;
      border: none !important;
      border-radius: 8px;
      font-size: inherit;
   }

   & .ant-select-selection-item,
   & .ant-select-item-option-content {
      text-overflow: clip;
   }
}
