.auth-modal-actions {
  display: flex;
  align-items: center;
  margin-left: 10px;

  & > *:not(:last-child) {
    margin-right: 10px;
  }

  .auth-button {
    display: block;
    cursor: pointer;
    font-family: CeraPro, system-ui;
    font-size: 16px;
    color: var(--azure);
    border: 1px solid currentColor;
    border-radius: 6px;
    padding: 6px 16px;

    &:hover {
      color: var(--deep-azure-active);
    }
  }
}

