.tariffs-page .content {
  & .tariff-actions {
    display: flex;
  }

  & .wrapper {
    display: flex;
    margin-top: 5px;


    & .tariff-list, & .tariff-details {
      border: 1px solid var(--white-gray);
      border-radius: 4px;
      flex-grow: 1;
    }

    & .tariff-list {
      max-width: 200px;
    }
  }
}