.tag-skeleton {
   display: flex;
   margin-bottom: 10px;
   width: 100%;
   height: 20px;

   & .tag-skeleton-input {
      display: flex;
      flex: 1;
   }

   & .tag-skeleton-checkbox {
      & .ant-skeleton-image {
      }
   }
}
