.update-apartment-form-wrapper {
   margin: 15px auto 0;
   max-width: 300px;

   & .update-apartment-form-wrapper__title {
      display: block;
      margin: 5px 0;
      font-size: 16px;
      font-family: "CeraPro", Arial, sans-serif;
      text-align: center;
   }
   & .update-apartment-form__submit {
      display: block;
      margin-top: 10px;
      border-radius: 25px;
      background-color: var(--light-azure);
      padding: 10px 15px;
      width: 100%;
      color: white;
      font-size: 16px;
      font-family: "CeraPro", Arial, sans-serif;
   }
}
