.apartment-card {
   display: grid;
   position: relative;
   grid-template-rows: auto 1fr auto;
   transition: box-shadow 200ms;
   box-shadow: 0px 5px 20px rgba(44, 57, 78, 0.1);
   border: 1px solid #e6eaed;
   border-radius: 15px;

   & .add-to-wish-list-button {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 2;
   }

   &:hover {
      box-shadow: 0 10px 30px rgba(44, 57, 78, 0.2);
   }

   & .slider-wrapper {
      display: flex;
      position: relative;
      border-radius: inherit;
      min-width: 100%;
      height: 225px;

      & img {
         width: 100%;
         object-fit: cover;
      }
   }

   & .apartment-details {
      display: grid;

      grid-template-rows: auto auto 1fr;
      grid-template-areas:
         "price rooms guests"
         "address address map-link"
         "description description description";
      padding: 8px 10px 10px 10px;

      & .apartment-card__price {
         grid-area: price;
         color: var(--dark-blue);
         font-weight: 700;
         font-size: 18px;
         font-family: "CeraPro", Arial, sans-serif;
      }

      & .apartment-details__rooms-quantity {
         grid-area: rooms;
      }

      & .apartment-details__max-quests-quantity {
         grid-area: guests;
      }

      & .apartment-details__on-map-link {
         grid-area: map-link;
         cursor: pointer;
         color: var(--azure);

         &:hover {
            text-decoration: underline;
         }

         & .svg-icon {
            width: 16px;
            height: 16px;
         }
      }

      & .apartment-details__description {
         grid-area: description;
         margin-top: 5px;
         max-width: fit-content;
         color: var(--dark-blue);
         font-weight: 600;
         font-size: 14px;
         line-height: 20px;
         font-family: "CeraPro", Arial, sans-serif;
      }

      & .apartment-details__address {
         grid-area: address;
         color: var(--azure);
         font-size: 14px;
         font-family: "CeraPro", Arial, sans-serif;
         word-break: break-all;

         &:hover {
            text-decoration: underline;
         }
      }
   }

   & .show-contacts-button {
      display: flex;
      align-content: stretch;
      border-bottom-right-radius: inherit;
      border-bottom-left-radius: inherit;
      height: 40px;
   }
}
