.apartment-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  border-radius: 15px;
  border: 1px solid #E6EAED;
  box-shadow: 0px 5px 20px rgba(44, 57, 78, 0.1);
  transition: box-shadow 200ms;

  //&:not(:hover) {
  //  & .swiper-button-prev,
  //  & .swiper-pagination,
  //  & .swiper-button-next {
  //    display: none;
  //  }
  //}

  &:hover {
    box-shadow: 0px 10px 30px rgba(44, 57, 78, 0.2);
  }

  & .apartment-card-slider {
    position: relative;
    display: flex;
    border-radius: inherit;
    min-width: 100%;

    height: 225px;
    & img {
      width: 100%;
      object-fit: fill;
    }
  }

  & .apartment-details {
    display: grid;
    grid-template-areas:
  "price rooms guests"
  "address address map-link"
  "description description description";

    grid-template-rows: auto auto 1fr;
    padding: 8px 10px 10px 10px;

    & .apartment-card__price {
      grid-area: price;
      color: var(--dark-blue);
      font-size: 18px;
      font-family: "CeraPro", Arial, sans-serif;
      font-weight: 700;
    }

    & .apartment-details__rooms-quantity {
      grid-area: rooms;
    }

    & .apartment-details__max-quests-quantity {
      grid-area: guests;
    }

    & .apartment-details__on-map-link {
      grid-area: map-link;

      & .svg-icon {
        width: 16px;
        height: 16px
      }
    }

    & .apartment-details__description {
      grid-area: description;
      color: var(--dark-blue);
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      font-family: "CeraPro", Arial, sans-serif;
      margin-top: 5px;
      max-width: fit-content;

    }

    & .apartment-details__address {
      grid-area: address;
      font-size: 14px;
      font-family: "CeraPro", Arial, sans-serif;
      color: var(--azure);
      max-width: fit-content;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  & .show-contacts-button {
    height: 40px;
    display: flex;
    align-content: stretch;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
  }

}