.field {
  display: flex;
  flex-direction: column;
  padding: 3px;
  margin-bottom: 8px;

  & .preview-images {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;

    & .preview-image {
      position: relative;
      width: 33.333%;
      margin: 4px 0;
      padding: 0 2px;

      &.add-image {
        cursor: pointer;
      }

      & .cross {
        position: absolute;
        z-index: 10;
        top: 3px;
        right: 3px;
        background-color: var(--white-gray-active);
        width: 14px;
        height: 14px;
      }

      & img {
        aspect-ratio: 1;
        border-radius: 8px;
        width: 100%;
      }
    }
  }

  &:hover .field__field, .field__field:focus {
    border-color: var(--azure);
  }

  & .field__label {
    margin-bottom: 4px;
    font-size: 14px;
    font-family: "CeraPro", Arial, sans-serif;
    color: var(--dark-blue);
    position: relative;
  }

  & .wrapper {
    position: relative;
  }

  & .field__field {
    border: 1px solid var(--white-gray);
    border-radius: 8px;
    padding: 14px 20px;
    font-size: 14px;
    font-family: "CeraPro", Arial, sans-serif;
    transition: border-color 110ms;
    width: 100%;

    &:focus + .field__error {
      display: none;
    }
  }

  & textarea.field__field {
    resize: vertical;
    max-height: 200px;
    min-height: 48px;
  }

  & .field__error {
    position: absolute;
    color: var(--coral-red);
    font-family: var(--default-font), sans-serif;
    font-size: 12px;
  }
}
