.aside {
  width: 265px;
  max-width: 265px;
  min-width: 265px;
  min-height: 100%;
  margin-top: 20px;
  margin-right: 22px;

  & .aside__title {
    font-size: 16px;
    font-weight: 700;
    font-family: "CeraPro", Arial, sans-serif;
    color: var(--azure-dragon);
  }
  & .apartment-date-filter {
    height: 40px;
  }

}

.filters__title {
  font-family: "CeraPro", sans-serif;
  color: var(--dark-blue);
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}