.contact {
   display: flex;
   position: relative;
   column-gap: 12px;
   justify-content: center;
   align-items: center;
   border-radius: 12px;
   background-color: var(--azure);
   padding: 0 10px;
   width: 100%;
   height: 50px;
   color: white;
   font-weight: 400;
   font-size: 16px;
   font-family: var(--default-font), sans-serif;

   & .overlay {
   }

   & .contact__phone-icon {
      width: 24px;
      height: 24px;
   }

   & .contact__phone {
      &:hover {
         text-decoration: underline;
      }
   }

   &:not(.opened) {
      & .contact__phone {
         position: relative;

         &:before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10222220;
            background: rgb(2, 0, 36);
            background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, var(--azure) 70%);
            content: "";
         }
      }
   }

   & .contact__button {
      &:hover {
         text-decoration: underline;
      }
   }
}
