@import "../../../app/styles/variables";

.header {

  & .header-top {
    display: grid;
    grid-template-areas:
    "logo select-city . . select-currency  open-wish-list open-sign-in-modal open-sign-up-modal";
    grid-template-columns:  auto auto 1fr min-content min-content auto auto;
    grid-template-rows: 100%;
    align-items: center;
    margin: 0 auto;
    height: 80px;
    max-width: $content-width;

    & > .logo {
      grid-area: logo;
    }

    & > .select-city-dropdown-wrapper {
      grid-area: select-city;
    }

    & > .select-currency-dropdown-wrapper {
      grid-area: select-currency;
    }

    & > .open-favorites-button {
      grid-area: open-wish-list;
      margin-right: 35px;
      margin-left: 15px;
    }
    & > .open-sign-in-modal {
      grid-area: open-sign-in-modal;
      cursor: pointer;
      font-family: CeraPro, system-ui;
      font-size: 16px;
      color: var(--azure);
      border-radius: 6px;
      margin-right: 16px;

      &:hover {
        color: var(--deep-azure-active);
      }

    }
    & > .open-sign-up-modal {
      grid-area: open-sign-up-modal;
      cursor: pointer;
      font-family: CeraPro, system-ui;
      font-size: 16px;
      color: var(--azure);
      border: 1px solid currentColor;
      border-radius: 6px;
      padding: 6px 16px;

      &:hover {
        color: var(--deep-azure-active);
      }

    }
  }

  & .header-bottom {
    width: 100%;
    padding: 110px 0 44px;
    background: url("../../../assets/images/temp/home-top.webp") center no-repeat;
    background-size: cover;

    & .header-bottom-container {
      max-width: $content-width;
      margin: 0 auto;
      padding: 0 40px;

      & .header-bottom__title, & .header-bottom__sub-title {
        color: white;
        font-family: "CeraPro", Arial, sans-serif;
        text-align: center;
        margin: 0 auto;
      }

      & .header-bottom__title {
        font-size: 50px;
        margin-bottom: 20px;
      }

      & .header-bottom__sub-title {
        font-size: 20px;
        max-width: 88%;
      }
    }
  }
}
