@import "../../../app/styles/variables";

.header {

  & .header-top {
    display: grid;
    grid-template-areas:
    "logo select-city . . select-currency  open-wish-list user-menu";
    grid-template-columns:  auto auto auto 1fr min-content auto ;
    grid-template-rows: 100%;
    align-items: center;
    margin: 0 auto;
    height: 80px;
    max-width: $content-width;

    & > .logo {
      grid-area: logo;
    }

    & > .select-city-dropdown-wrapper {
      grid-area: select-city;
      margin-left: 20px;
    }

    & > .select-currency-dropdown-wrapper {
      grid-area: select-currency;
      margin-left: auto;
    }

    & > .open-wish-list-button {
      grid-area: open-wish-list;
      margin: 0 50px;
    }

    & > .user-menu {
      grid-area: user-menu;
    }
  }

  & .header-bottom {
    width: 100%;
    padding: 110px 0 44px;
    background: url("../../../assets/images/temp/home-top.webp") center;

    & .header-bottom-container {
      max-width: $content-width;
      margin: 0 auto;
      padding: 0 40px;
      & .header-bottom__title, & .header-bottom__sub-title {
        color: white;
        font-family: "CeraPro", Arial, sans-serif;
        text-align: center;
        margin: 0 auto;
      }

      & .header-bottom__title {
        font-size: 50px;
        margin-bottom: 20px;
      }

      & .header-bottom__sub-title {
        font-size: 20px;
        max-width: 68%;
      }
    }
  }
}
