.button-cool {
   display: flex;
   transition: background-color 30ms;
   border: 1px solid var(--white-gray);
   border-radius: 8px;
   padding: 13px 15px 14px;
   max-width: fit-content;
   color: var(--azure);
   font-weight: 700;
   font-size: 15px;
   font-family: var(--default-font), sans-serif;

   & span {
      align-self: center;
   }

   &:hover {
      background-color: var(--white-gray-active);
   }
}
