.button-cool {
  display: flex;
  max-width: fit-content;
  border: 1px solid var(--white-gray);
  border-radius: 8px;
  padding: 13px 15px 14px;
  font-family: var(--default-font), sans-serif;
  font-size: 15px;
  color: var(--azure);
  font-weight: 700;
  transition: background-color 30ms;

  &:hover {
    background-color: var(--white-gray-active);
  }
}