.apartment-card-skeleton {
  display: flex;
  flex-direction: column;

  & .ant-skeleton-element.image {
    width: 100%;
    aspect-ratio: 1.4;

    & > .image {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }

  & .description {
    display: flex;
    margin-top: 15px;

    & .ant-skeleton-paragraph {
      & > li:not(:first-child) {
        margin-top: 10px;
      }
    }
  }
}