.apartment-date-filter {
   display: flex;
   align-items: center;
   border: 1px solid var(--gains-boro);
   border-radius: 8px;
   padding: 5px;

   & .ant-picker-input {
      & input {
         margin-left: 8px;
         font-size: 15px;
         font-family: var(--default-font), sans-serif;
         text-align: left;
      }
   }

   & .ant-picker-input:first-child {
   }
   & .ant-picker-input:nth-child(2) {
   }
}
