.search {
  --search-padding: 10px;
  background: white;
  border-radius: 82px;
  height: 83px;
  margin: 20px auto 0 auto;
  padding: var(--search-padding);
  max-width: 960px;
  display: flex;
  column-gap: 5px;

  & .select-city-big-dropdown,
  & .apartment-type-radio-buttons,
  & .select-guests-count-input-number,
  & .search-button {
    border-radius: inherit;
    height: 100%;
    flex-grow: 1;
  }
  & .select-guests-count-input-number {
    flex-grow: 1;
  }

  & .select-city-big-dropdown {
    flex: 1 0 auto;
  }
  & .search-button {
    flex-grow: 1;
  }
  & .apartment-type-radio-buttons, {
    flex-grow: 0;
    max-width: fit-content;
  }
}