.sort-by {
  margin-top: 4px;
  width: 200px;

  & .ant-select-selection-item {
    font-family: "CeraPro", system-ui;
    font-size: 16px;

    &:hover {
      border-color: var(--light-azure-active);
    }
  }
}