.sort-by {
   width: 200px;

   & .ant-select-selection-item {
      font-size: 16px;
      font-family: "CeraPro", system-ui;

      &:hover {
         border-color: var(--light-azure-active);
      }
   }
}
