.order-apartment-form-skeleton {
  display: flex;
  width: 100%;
  column-gap: 16px;

  & .container {
    width: 680px;

    & .ant-skeleton-input {
      height: 100%;
    }
  }

  & .aside-skeleton {
    flex-grow: 1;
    max-width: 380px;

    & .ant-skeleton {
      width: 100%;

      & .ant-skeleton-input {
        height: 237px;
      }
    }
  }

  & .ant-skeleton {
    flex-grow: 1;

    & .ant-skeleton-input {
      width: 100%;
      border-radius: 8px;
    }
  }
}

@media (width < 850px) {
       .order-apartment-form-skeleton {
        display: flex;
        flex-direction: column;
        width: 100%;

        & .container {
          max-width: 100%;
        }
      }
}
