@import "../../../app/styles/variables";

.minimal-layout { //TODO remove styles after mvp, cause there will be no need in it after making footer
  height: 100%;

  & .minimal-layout-wrapper {
    display: flex;
    max-width: $content-width;
    margin: 0 auto;
    height: 100%;

    & .content {
      width: 100%;
    }
  }
}