.slider {
   display: block;

   & > span.MuiSlider-thumb {
      box-shadow: none;
      border: 3px solid var(--azure);
      background: white;
      width: 20px;
      height: 20px;
   }

   & .MuiSlider-valueLabel {
      border: 1px solid #cccccc;
      border-radius: 7px;
      background-color: white;
      padding: 2px 5px;
      color: black;
      font-weight: 400;
      font-size: 14px;
      font-family: Arial, sans-serif;

      &:before {
         margin-bottom: -1px;
         border-right: 1px solid #cccccc;
         border-bottom: 1px solid #cccccc;
      }
   }
}
