.order {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr;
  grid-template-rows: 100%;
  height: 150px;
  padding: 8px;

  & .created-at {
  }

  & .order-main {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    grid-template-areas:
  "image title"
  "image price";

    & .order-photo-wrapper {
      grid-area: image;
    }

    & .order-photo {
      height: 100%;
      width: 100%;
      border-radius: 8px;
    }

    & .order__title {
      font-family: "CeraPro", Arial, sans-serif;
      grid-area: title;
      height: min-content;
    }

    & .order__price {
      grid-area: price;
      font-family: "CeraPro", Arial, sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: var(--dark-blue);
      margin-bottom: 5px;
    }
  }

  & .order-status {
    & .order-approve, & .order-reject {
      width: 100%;
    }
  }

  & .book-period {
    font-size: 16px;
    font-family: "CeraPro", Arial, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
  }
}