.overlay {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   opacity: 0;
   z-index: 20;
   transition: 300ms opacity;
   background-color: black;
   pointer-events: none;

   &.opened {
      opacity: 0.6;
      pointer-events: all;
   }
}
